#login{
	width: 40%;
	margin : auto;
	margin-top: 20%;
	text-align: center;
}

#inputlogin{
	margin : 20px 0;
}

.hide{
	display: none;
}

#boxInfosChat{
	margin: 50px 0 0 0;
}

#chatInfos{
	height: 300px;
}

#linkQuit{
	text-align: center;
}

#linkQuit a{
	text-decoration: none;
}

#btnMsg{
	margin-top: 10px;
}

#boxMsg{
	margin: 40px 0;
}

#infoMsg{
	margin: 10px 0;
	font-size: 0.8em;
}

#chatRoom{
	overflow: auto;
}

#chatName{
	overflow:auto;
	height:400px;
}

#chatNameBox{
	margin: 50px 0 0;
}